a {
  text-decoration: none;
  color: black;
}

body {
  margin:0;
  font-family: arial;
}

header {
  width: 100%;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 15px;
}
#header-options-right {
  height: 30px;
  width: auto;
  position: absolute;
  right: 0px;
  padding-right: 30px;
  color: white;
  text-align: center;
  line-height: 30px;

}

#sign-in{
  height: 30px;
  width: 71px;
  border: 1px solid #4387fd;
  color: white;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  position: relative;
  left: 0px;
  font-weight: bold;
  font-size: 0.8em;
  }

#option-button{
  height: 17px;
  width: 17px;
  padding-right: 15px;
  vertical-align: middle;
  opacity: 0.7;
}
#images, #gmail{
   padding-right: 15px;
   font-size: 0.8em;
   vertical-align: middle;
   opacity: 0.7;
}

#images:hover, #gmail:hover{
  text-decoration: underline;
}

#header-options-left{
height: 30px;
width: auto;
position: absolute;
left: 0px;
padding-left: 30px;
color: white;
text-align: center;
line-height: 30px;
}

#info, #store {
font-size: 0.8em;
padding-right: 15px;
opacity: 0.7;
}

#info:hover, #store:hover {
  text-decoration: underline;
}

#body {
  height: 233px;
  width: 100%;
  position: relative;
  top: 89px;
}

#g-image {
  position: absolute;
  bottom: 32px;
  left: 40%;
}
